@font-face {
  font-family: 'Eurostile';
  src: local('Eurostile'), url('/fonts/Eurostile/EuroStyleNormal.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Eurostile';
  src: local('Eurostile'), url('/fonts/Eurostile/EurostileBold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Geometos Neue';
  src: local('Geometos Neue'), url('/fonts/GeometosNeue/GeometosNeue.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Geometos Neue';
  src: local('Geometos Neue'), url('/fonts/GeometosNeue/GeometosNeueBold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Geometos Neue';
  src: local('Geometos Neue'), url('/fonts/GeometosNeue/GeometosNeueBlack.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

* {
  letter-spacing: 1px;
  line-height: 1;
}
